.profile {
  display: flex;
  padding-top: 36px;
}
@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    margin: 0 auto;
  }
}
