.card__like-button {
  min-width: 22px;
  min-height: 19px;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  object-fit: cover;
  padding: 0;
  border: none;
  margin-top: 5px;
  background-color: white;
  cursor: pointer;
}
.card__like-button:hover {
  opacity: 0.5;
}
