.profile__avatar {
  width: 120px;
  border-radius: 50%;
  height: 120px;
}
@media screen and (max-width: 768px){
 .profile__avatar {
  margin: 0 auto;
 }
}
@media screen and (max-width: 320px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
