.profile__add-button {
  width: 150px;
  margin: 15px 0 0;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  height: 50px;
  background-color: black;
  border: none;
  padding: 0;
  display: flex;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .profile__add-button {
    margin: 15px auto 0;
  }
}
@media screen and (max-width: 320px) {
  .profile__add-button {
    padding: 0;
    margin: 36px 0;
    width: 282px;
    min-height: 50px;
    background-image: url(../../../images/add-button_xs.svg);
  }
}
